{% extends 'layout.html.twig' %}


{% block title %}TOUTSAMPLEMENT{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="container">

        <!-- PRESENTATION de toutsamplement-->
        <div class="row">
            <div class="col-md-6 col-6">
                <p>Le site “Tout samplement” est une base de données communautaire et gratuite qui recense les plus célèbres samples de Hip Hop, de Rock, de Pop, et d’Electro, issus de productions d’artistes professionels ou amateurs pouvant faire découvrir leur travail.  Ce site est une réponse aussi bien pour ceux qui souhaitent aller plus loin dans la découverte de l'histoire de la musique, ou de leurs artistes ou morceaux favoris en découvrant les échantillons musicaux et beats utilisés, que pour les beatmakers amateurs qui enrichissent la base de donnée grace à leur production personnelle. Et n’oublions pas tous les passionnés en quête du sample original qui permettent de développer cette banque d’information, en y partageant leur investigations musicales.
                </p>
                <p>
                    Vous l’avez compris vos contributions, à tous les niveaux sont necessaire pour l’évolution du site. Le principe de cette communauté est de mettre la base à jour au gré de vos découvertes, de vos productions.
                </p>
            </div>

            <div class="col-md-6 col-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/rJThPCQ3Oro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
            </div>

        </div>

        <!--DERNIERS ARTISTE -->
        <div>
            <h3>Derniers Artistes</h3>
            <div class="d-flex">
                {% for artiste in artistes%}
                    <article class="container text-center">
                        <div class="p-3 bg-light text-dark m-1">

                            <a href="#"><article class="">{{artiste.nom}}</article></a>

                        </div>

                    </article>
                {% endfor %}

            </div>
        </div>


        <!--DERNIERS SAMPLES -->
        <div>
            <h3>Derniers Samples</h3>
            <div class="d-flex">
                {% for sample in samples %}
                <article class="container text-center">
                    <div class="p-3 bg-light text-dark m-1">

                        <a href="#"><article class="">{{ sample.sampleur.titre }}</article></a>
                        <a href="#"><article class="">{{ sample.original.titre }}</article></a>

                    </div>

                </article>
                {% endfor %}
                
            </div>
        </div>

        <!--DERNIERS ARTICLES -->
        <div>
            <h3>Derniers Articles</h3>
            <div class="d-flex">
                {% for article in articles%}

                    <article class="container text-center">
                        
                        <div class="p-3 bg-light text-dark m-1">

                            {% if article.titre|length > 35 %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold">{{ article.titre | striptags | slice(0, 35) }}...</p>
                                </a>
                            {% elseif article.titre|length <= 35 %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold">{{ article.titre }}</p>
                                </a>
                            {% endif %}

                            {% if article.image %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <img class="img-fluid w-75" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
                                </a>
                            {% endif %}

                        </div>

                    </article>

                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
