{% extends 'layout.html.twig' %}


{% block title %}TOUTSAMPLEMENT{% endblock %}


{% block content %}
    <br>
    <br>
    <div class="container">

        <!-- PRESENTATION de toutsamplement-->
        <div class="row">
            <div class="col-md-6 col-12">
                <p>Le site “Tout samplement” est une base de données communautaire et gratuite qui recense les plus
                    célèbres samples de Hip Hop, de Rock, de Pop, et d’Electro, issus de productions d’artistes professionnels
                    ou amateurs pouvant faire découvrir leur travail. Ce site est une réponse aussi bien pour ceux qui souhaitent
                    aller plus loin dans la découverte de l'histoire de la musique, ou de leurs artistes ou morceaux favoris
                    en découvrant les échantillons musicaux et beats utilisés, que pour les beatmakers amateurs qui enrichissent
                    la base de données grâce à leur production personnelle. Et n’oublions pas tous les passionnés en
                    quête du sample original qui permettent de développer cette banque d’information, en y partageant
                    leurs investigations musicales.

                </p>
                <p>
                    Vous l’avez compris vos contributions, à tous les niveaux sont nécessaire pour l’évolution du site. Le principe
                    de cette communauté est de mettre la base à jour au gré de vos découvertes, de vos productions.
                </p>
                <p>
                    Alors pour utiliser au mieux cet outil, allez-vous inscrire, si ce n’est pas déjà fait, pour nous faire découvrir
                    vos pépites musicales, et dénicher des insolites mélodie, dont vous ignorez l’existence.
                    Et grâce à vous ce site fera découvrir les musiques à l’origine des tubes d’aujourd’hui et d’hier.
                </p>
            </div>

            <div class="col-md-6 col-12">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/rJThPCQ3Oro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
            </div>

        </div>

        <!--DERNIERS ARTISTE -->

        <div>

            <h3>Derniers Artistes</h3>

            <div class="d-flex">
                {% for artiste in artistes%}

                    <article class="container text-center bg-gradient-secondary">

                        <div class="p-3 bg-light m-1 border border-secondary">

                            {% if artiste.nom|length >= 15 %}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{artiste.nom | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else%}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{artiste.nom }} </p>
                                </a>
                            {% endif %}

                            {% if artiste.user.avatar %}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <img class="zoom w-25 rounded-circle" src="{{ asset(image_directory ~ artiste.user.avatar) }}"  alt=""/>
                                </a>
                            {% endif %}
                            </div>
                        </article>

                {% endfor %}

            </div>

        </div>

        <!--DERNIERS SAMPLES -->

        <div>

            <h3>Derniers Samples</h3>

            <div class="d-flex">

                {% for sample in samples %}

                <article class="container text-center">

                    <div class="p-3 bg-light m-1 border border-secondary">

                        <div class="m-1">

                            {% if sample.sampleur.titre|length >= 15 %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.sampleur.titre | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else%}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.sampleur.titre }}</p>
                                </a>
                            {% endif %}

                            {% if sample.sampleur.idalbum.pochette %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <img class="zoom w-75" src="{{ asset(image_directory ~ sample.sampleur.idalbum.pochette) }}"  alt=""/>
                                </a>
                            {% endif %}

                        </div>

                        <div class="m-1">

                            {% if sample.original.titre|length >= 15 %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark ">{{ sample.original.titre | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.original.titre }}</p>
                                </a>
                            {% endif %}

                            {% if sample.original.idalbum.pochette %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <img class="zoom w-75" src="{{ asset(image_directory ~ sample.original.idalbum.pochette) }}"  alt=""/>
                                </a>
                            {% endif %}

                        </div>



                    </div>

                </article>

                {% endfor %}
                
            </div>

        </div>


        <!--DERNIERS ARTICLES -->
        <div>

            <h3>Derniers Articles</h3>
            <div class="d-flex ">
                {% for article in articles%}

                    <article class="container text-center">

                        <div class="p-3 bg-light m-1 border border-secondary">

                            {% if article.titre|length >= 35 %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ article.titre | striptags | slice(0, 35) }}...</p>
                                </a>
                            {% else %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ article.titre }}</p>
                                </a>
                            {% endif %}

                            {% if article.image %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <img class="zoom w-75" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
                                </a>
                            {% endif %}

                        </div>

                    </article>

                {% endfor %}
            </div>
        </div>


    </div>

{% endblock %}
