{% extends 'layout.html.twig' %}


{% block title %}TOUTSAMPLEMENT{% endblock %}


{% block content %}

        <!-- PRESENTATION de toutsamplement-->
        <h1 class="text-center mb-5 iceland">Tout SampleMent</h1>
        <div class="row">
            <div class="col-12 col-md-6 text-justify">
                <p>Hip-Hop, Rock, Soul, Pop, Funk, ou Electro, le sample est partout !
                    Incontournable pour bon nombre d’artistes dans leur processus créatif, le sampling est devenu bankable. Mais derrière chaque échantillonnage se cache une histoire ou une anecdote qui lui est propre.“Tout Samplement” est une base de données communautaire et gratuite, qui répertorie des samples, des extraits musicaux, réutilisés et réutilisables dans une nouvelle composition.

                    Cette banque d’informations est continuellement enrichie par notre équipe, mais aussi par les abonnés passionnés en quête du sample original qui veulent partager leurs investigations musicales.Bienvenue dans l’aire de jeux des beatmakers qui souhaitent faire découvrir leurs créations, bienvenue aux férus de musique comme aux curieux, aux fans d’un artiste ou d’un morceau, ou encore aux candides qui ont vu de la lumière et sont entrés !...

                </p>

            </div>

            <div class="col-12 col-md-6">
                <div class="embed-responsive embed-responsive-16by9 ">
                    <iframe alt="video tuto sample" width="560" height="315" class="embed-responsive-item" src="https://www.youtube.com/embed/rJThPCQ3Oro" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                </div>
            </div>

        </div>

        <!--DERNIERS ARTISTE -->

        <div>

            <h3 class="iceland">Derniers Artistes</h3>

            <div class="d-md-flex">
                {% for artiste in artistes%}

                    <article class="col-12 col-md-3 rounded text-center bg-gradient-secondary">

                        <div class="p-3 bg-light m-1 rounded border border-warning">

                            {% if artiste.nom|length >= 15 %}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{artiste.nom | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else%}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{artiste.nom }} </p>
                                </a>
                            {% endif %}

                            {% if artiste.user.avatar %}
                                <a href="{{ path('fiche-artiste', {id: artiste.id} ) }}">
                                    <img alt="{{ artiste.nom }}" class="zoom w-25 rounded-circle" src="{{ asset(image_directory ~ artiste.user.avatar) }}"  />
                                </a>
                            {% endif %}
                            </div>
                        </article>

                {% endfor %}

            </div>

        </div>

        <!--DERNIERS SAMPLES -->

        <div>

            <h3 class="iceland">Derniers Samples</h3>

            <div class="d-md-flex">

                {% for sample in samples %}

                <article class="col-12 col-md-3 text-center">

                    <div class="p-3 bg-light m-1 rounded border border-warning">

                        <div class="m-1">

                            {% if sample.sampleur.titre|length >= 15 %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.sampleur.titre | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else%}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.sampleur.titre }}</p>
                                </a>
                            {% endif %}

                            {% if sample.sampleur.idalbum.pochette %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <img alt="image {{ sample.sampleur.titre }}" class="zoom w-75" src="{{ asset(image_directory ~ sample.sampleur.idalbum.pochette) }}" />
                                </a>
                            {% endif %}

                        </div>

                        <div class="m-1">

                            {% if sample.original.titre|length >= 15 %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark ">{{ sample.original.titre | striptags | slice(0, 15) }}...</p>
                                </a>
                            {% else %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ sample.original.titre }}</p>
                                </a>
                            {% endif %}

                            {% if sample.original.idalbum.pochette %}
                                <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                    <img alt="image {{ sample.original.titre }}" class="zoom w-75" src="{{ asset(image_directory ~ sample.original.idalbum.pochette) }}"/>
                                </a>
                            {% endif %}

                        </div>

                    </div>

                </article>

                {% endfor %}
                
            </div>

        </div>


        <!--DERNIERS ARTICLES -->
        <div>

            <h3 class="iceland">Derniers Articles</h3>
            <div class="d-md-flex ">
                {% for article in articles%}

                    <article class="col-12 col-md-3 text-center">

                        <div class="p-3 bg-light m-1 rounded border border-warning">

                            {% if article.titre|length >= 35 %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ article.titre | striptags | slice(0, 35) }}...</p>
                                </a>
                            {% else %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <p class="font-weight-bold text-dark">{{ article.titre }}</p>
                                </a>
                            {% endif %}

                            {% if article.image %}
                                <a href="{{ path('detail-article', {id: article.id} ) }}">
                                    <img alt="image {{ article.titre }}" class="zoom w-75" src="{{ asset(image_directory ~ article.image) }}" />
                                </a>
                            {% endif %}

                        </div>

                    </article>

                {% endfor %}
            </div>
        </div>




{% endblock %}
