{% extends 'layout.html.twig' %}

{% block title %}{{ sample.sampleur.titre }} / {{ sample.original.titre }}{% endblock %}

{% block titlepage %}{{ sample.sampleur.titre }} / {{ sample.original.titre }}{% endblock %}

{% block content %}


<div class="d-md-flex justify-content-md-around">

    <article class="col-12 col-md-6 d-md-flex align-items-md-start flex-column">

            <h2 class="font-weight-bold iceland">Le sampleur</h2>
            <h2 class="font-weight-bold zoom"><a href="{{path('fiche-artiste', {id: sample.sampleur.idalbum.idartiste.id} )}}">{{ sample.sampleur.idalbum.idartiste.nom }}</a></h2>

            <h3 class="font-weight-bold">{{ sample.sampleur.idalbum.nom }}</h3>

            <h5 class="font-weight-light"> Track : {{ sample.sampleur.titre }}</h5>
            <h5 class="font-weight-light"> Date d'ajout : {{ sample.sampleur.datepubli|date('d/m/Y') }}</h5>
            

            
            {% if sample.sampleur.lien %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe alt="video {{ sample.sampleur.titre }}" class="border embed-responsive-item" width="373" height="210" src="{{ asset(video_directory ~ sample.sampleur.lien) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            {% endif %}

    </article>

    <article class="col-12 col-md-6 d-flex align-items-md-start flex-column">

            <h2 class="font-weight-bold iceland">L'original</h2>
            <h2 class="font-weight-bold zoom"><a href="{{path('fiche-artiste', {id: sample.original.idalbum.idartiste.id} )}}">{{ sample.original.idalbum.idartiste.nom }}</a></h2>

            <h3 class="font-weight-bold">{{ sample.original.idalbum.nom }}</h3>

            <h5 class="font-weight-light"> Track : {{ sample.original.titre }}</h5>
            <h5 class="font-weight-light"> Date d'ajout : {{ sample.original.datepubli|date('d/m/Y') }}</h5>
            
            {% if sample.original.lien %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe alt="video {{ sample.original.titre }}" class="border embed-responsive-item" width="373" height="210" src="{{ asset(video_directory ~ sample.original.lien) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            {% endif %}

    </article>

</div>

{% if sample.articles %}
<div class="d-flex justify-content-around mt-4">
    <div class="col-12 col-md-10 border border-dark bg-white">

        <h2 class="m-3 text-center font-weight-bold iceland">L'histoire du sample "{{ sample.sampleur.titre }}"</h2>
        <p class="m-3 text-justify">{{ sample.articles.content }}</p>

    </div>
</div>
{%endif%}
{% endblock %}