{% extends 'layout.html.twig' %}

{% block title %}Liste des samples{% endblock %}

{% block titlepage %}Nos samples{% endblock %}

{% block content %}


            <h3 class="text-center iceland m-2">Rechercher par genre</h3>
            <select class="col-4 m-auto form-control " id="genre-list">
                <option value="0">Choisir un style musical</option>
                {% for genre in genres %}
                    <option value="{{ genre.genre }}">{{ genre.genre }}</option>
                {% endfor %}
            </select>
            <a class="" href="{{ path('all-samples')}}"><h4 class="text-center iceland m-2">Rafraichir la page</h4></a>

        <div class="justify-content-center" id="result2">

                {% for sample in samples %}
                <!-- <a href="{{ path('detail-sample',{'id':sample.id})}}" class="mt-5"> -->
                    <div class="zoom row border m-2 p-2 test bg-white rounded border-warning" href="{{ path('detail-sample',{'id':sample.id})}}">

                    <article class="col-12 col-md-5 d-md-flex flex-column">

                        {% if sample.sampleur.idalbum.nom|length >= 25 %}
                            <h2 class="font-weight-bold">{{ sample.sampleur.idalbum.nom | striptags | slice(0, 25) }}...</h2>
                        {% else %}
                            <h2 class="font-weight-bold">{{ sample.sampleur.idalbum.nom }}</h2>
                        {% endif %}

                        <div class="d-md-flex col-12">
                            {% if sample.sampleur.idalbum.pochette %}
                                <img alt="image {{ sample.sampleur.idalbum.nom }}" width="170" height="170" src="{{ asset(image_directory ~ sample.sampleur.idalbum.pochette) }}"/>
                            {% endif %}

                            <div class="p-2">
                                <h4 class="font-weight-normal"> Artiste :{{ sample.sampleur.idalbum.idartiste.nom }}</h4>
                                <h5 class="font-weight-light"> Track :
                                    {{ sample.sampleur.titre }}
                                </h5>
                                <h5 class="font-weight-light"> Année :
                                    {{ sample.sampleur.idalbum.annee }}
                                </h5>
                            </div>
                        </div>

                    </article>

                    <div class="col-12 col-md-2 pb-3 pt-1 text-center align-self-center">
                        <i class="fas fa-sync fa-5x notreJaune"></i>
                    </div>

                    <article class="col-12 col-md-5 d-md-flex flex-column">

                        {% if sample.original.idalbum.nom|length >= 25 %}
                            <h2 class="font-weight-bold">{{ sample.original.idalbum.nom | striptags | slice(0, 25) }}...</h2>
                        {% else %}
                            <h2 class="font-weight-bold">{{ sample.original.idalbum.nom }}</h2>
                        {% endif %}

                        <div class="d-md-flex col-12">

                            {% if sample.original.idalbum.pochette %}
                                <img alt="image {{ sample.original.idalbum.nom }}"width="170" height="170" src="{{ asset(image_directory ~ sample.original.idalbum.pochette) }}"  alt=""/>
                            {% endif %}

                            <div class="p-2">
                                {% if sample.original.idalbum.idartiste.nom|length >=18 %}
                                    <h4 class="font-weight-normal"> Artiste :{{ sample.original.idalbum.idartiste.nom | striptags | slice(0, 18) }}...</h4>
                                {% else %}
                                    <h4 class="font-weight-normal"> Artiste : {{ sample.original.idalbum.idartiste.nom}}</h4>
                                {% endif %}
                                <h5 class="font-weight-light">  Track :
                                   {{ sample.original.titre }}
                                </h5>
                                <h5 class="font-weight-light"> Année :
                                    {{ sample.original.idalbum.annee }}
                                </h5>
                            </div>

                        </div>

                    </article>

                    </div>

                {% endfor %}
        </div>

        {#pagination#}
        {% if samples.haveToPaginate %}
            <div class="navigation pagi text-center d-flex justify-content-center">
                {{ pagerfanta(samples, 'twitter_bootstrap4', {routeName: 'all-samples_paginated'}) }}
            </div>
        {% endif %}


{% endblock %}
{% block js %}
<script>

    $('.test').css('cursor', 'pointer');

    $('.container').on('click', '.test', function(){
        var url= $(this).attr("href");
        $(this).css('cursor', 'pointer');
        window.location.href = url;
    });

</script>

    <script>
        $(function () {

            $('#genre-list').on('change', function() {
                var url = "{{ path('ajax-search-by-genre', {genre:'aaaa'}) }}";
                //lorsque l'utilisateur selectionne un genre, je remplace mon aaaa par le genre selectionné
                url = url.replace('aaaa', $(this).val());
                $.ajax({
                    type: 'get',
                    url: url,
                    dataType: 'html',
                    success: function (data) {
                        $('#result2').html(data);
                        $('.test').css('cursor', 'pointer');
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })
        })
    </script>

{% endblock %}