{% extends 'layout.html.twig' %}

{% block title %}Requetes d'insertion{% endblock %}

{% block content %}

{% for requete in requetes %}
	<div class="row rounded shadow-lg border bg-white pt-3 m-4">
		<div class="col-6 border-right">
			<h5>Le sampleur</h5>
			<p><strong>Artiste : </strong>{{requete.sampleur.idalbum.idartiste.nom}}</p><br>
			<p><strong>Album : </strong>{{requete.sampleur.idalbum.nom}}</p><br>
			<p><strong>Titre : </strong>{{requete.sampleur.titre}}</p><br>
			
		</div>
		<div class="col-6">
			<h5>Le samplé</h5>
			<p><strong>Artiste : </strong>{{requete.original.idalbum.idartiste.nom}}</p><br>
			<p><strong>Album : </strong>{{requete.original.idalbum.nom}}</p><br>
			<p><strong>Titre : </strong>{{requete.original.titre}}</p><br>
		</div>
		<div class="col-12 text-center mt-3">
			<p><strong>Relation proposé par :</strong> <a href="">{{requete.user.username}}</a></p>
		</div>	
		<div class="mx-auto">
			<button class="btn btn-primary m-2">Valider</button>
			<button class="btn btn-danger m-2">Refuser</button>
		</div>	
	</div>
{%endfor%}


{% endblock %}
