{% extends 'layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block titlepage %}Nos derniers articles{% endblock %}

{% block content %}

    <div  class="container">

        <hr class="bg-danger">

                {# equivalent twig de la boucle foreach #}
                {% for user in users %}

                    {# a chaque tour de boucle, on recupere les articles qui ici est un objet
                    pour acceder au titre artcile.title #}
                    <article class="row text-center">

                        <div class="col-5">
                            {% if user.avatar %}
                                <img class="img-fluid w-50" src="{{ asset(image_directory ~ user.avatar) }}"  alt=""/>
                            {% endif %}
                        </div>

                        <div class="col-7">
                            <h2 class="font-weight-bold">{{ user.username }}</h2>
                            <p>{{ user.nom  }}</p>
                            <p>{{ user.prenom }}</p>
                            <a href="{{ path('admin-profilUser', {id: user.id} ) }}">Profil</a>
                        </div>

                    </article>

                    <hr>

                {% endfor %}

    </div>

{% endblock %}