{% extends 'layout.html.twig' %}

{% block title %}Ajout article{% endblock %}

{% block titlepage %}Ajouter un article{% endblock %}

{% block content %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <hr class="bg-danger">

    <div class="d-flex justify-content-center">

        <div class="col-8 border-right border-left">

            {{ form_start(form)}}

            {{ form_errors(form.titre)}}

            {{ form_row(form.titre, {'attr': {'class' : 'mb-5', 'placeholder': 'Saisir votre titre'}})}}

            {{ form_row(form.content, {'label' : 'Contenu de l\'article', 'attr':{'class' : 'p-5','placeholder': ''}})}}

            {{ form_row(form.image, {'label' : 'Selectionner une image', 'attr':{'class' : 'mb-5', 'placeholder': 'Selecionner une image'}})}}

            {{ form_row(form.auteur_id, {'label' : 'Selectionner l\'auteur', 'attr':{'class' : 'mb-5', 'placeholder': 'Selecionner une image'}})}}

            {{ form_end(form)}}

        </div>

    </div>

{% endblock %}