{% extends 'layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block titlepage %}Nos derniers articles{% endblock %}

{% block content %}




            {# equivalent twig de la boucle foreach #}
                {# equivalent twig de la boucle foreach #}
                {% for article in articles %}

                    {# a chaque tour de boucle, on recupere les articles qui ici est un objet
                    pour acceder au titre artcile.title #}
                    <div class="zoom2 row border m-2 p-2 test bg-white rounded border-warning mb-4" href="{{ path('detail-article',{'id':article.id})}}">

                        <article class="bg-white">
                            <a class="" href="{{ path('detail-article', {id: article.id} ) }}">
                                <h2 class="zoom font-weight-bold iceland">{{ article.titre }}</h2>
                            </a>
                            <br>
                            <div class="row">
                                <div class="col-12 col-md-5">
                                    {% if article.image %}
                                        <img class="img-fluid w-50" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
                                    {% endif %}
                                </div>

                                <div class="col-12 col-md-7 align-self-center  text-justify">
                                    {{ article.content | striptags | slice(0, 300) }}...
                                        <a class="zoom float-bottom suite" href="{{ path('detail-article', {id: article.id} ) }}">lire la Suite</a>
                                </div>
                            </div>

                        </article>
                    </div>

                {% endfor %}


    {% if articles.haveToPaginate %}
        <div class="navigation pagi d-flex justify-content-center">
            {{ pagerfanta(articles, 'twitter_bootstrap4', {routeName: 'all-articles_paginated'}) }}
        </div>
    {% endif %}


<script>
    $('.test').css('cursor', 'pointer');

    $('.container').on('click', '.test', function(){
        var url= $(this).attr("href");
        $(this).css('cursor', 'pointer');
        window.location.href = url;
    });
</script>


{% endblock %}