{% extends 'layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block titlepage %}Nos derniers articles{% endblock %}

{% block content %}

    <div  class="container">

        <hr class="bg-danger">

        <div class="row d-flex justify-content-center">

            {# equivalent twig de la boucle foreach #}
            <div class="col-10">
                {# equivalent twig de la boucle foreach #}
                {% for article in articles %}

                    {# a chaque tour de boucle, on recupere les articles qui ici est un objet
                    pour acceder au titre artcile.title #}
                    <article class="container text-center">

                        {{ article.titre }} :
                        <hr>
                        {{ article.content|raw }}
                        <hr>
                        {% if article.image %}
                            <img class="img-fluid" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
                        {% endif %}
                        <hr>
                        <iframe width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        <a class="btn btn-info ml-5 "href="{{ path('detail-article', {id: article.id} ) }}">+++ info +++</a>
                        <hr class="bg-danger">

                    </article>

                {% endfor %}

            </div>
        </div>

    </div>






{% endblock %}