{% extends 'layout.html.twig' %}

{% block title %}Fiche article - ToutSamplement{% endblock %}


{% block titlepage %}{{ article.titre }}{% endblock %}

{% block content %}


    {# a chaque tour de boucle, opn recupere articles qui ici est un objet pour acceder au titre artcile.title #}

    <article class="text-justify">
        <div class="row d-flex mt-3 mb-2">
            <p>Publié par :
            <a class="iceland" href="{{ path('profilUser', {id: article.auteurid.id} ) }}">{{ article.auteurid.username }}</a>
             le {{ article.datepubli|date('d/m/Y') }}
        </p>

        </div>
        
        <div class="row">
            <div class="col-12 col-md-4 mb-5">
                {% if article.image %}
                    <img class="img-fluid text-center" src="{{ asset(image_directory ~ article.image) }}" width="300"  alt=""/>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 text-justify">
                {{ article.content }}
            </div>
        </div>
        {#
        <div class="row">
            <div class="col-6">
                <span id="compte" class="compte">{{compte}}</span>
                {%if compte <= 1 %}
                <span class="">Like</span>
                {%else%}
                <span class="">Likes</span>
                {%endif%}
                <span> | </span>
           
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                
                {% set jaune = '' %}

                {%for like in likes %}

                    {% if like["users_id"] ==  app.user.id %}

                        {% set jaune = ' notreJaune' %}

                        
                    {%endif%}
                    

                {% endfor %}

                <i id="like" class="far fa-thumbs-up fa-2x{{ jaune }}"></i>

            {%endif%}
            </div>
        </div>
        #}
        {#Code pour le LIKE avec FACEBOOK#}
        <div class="row">
            <div class="col-6">
                <div class="fb-like" data-href="http://localhost:8000/article/" data-width="500" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
                <div id="fb-root"></div>
            </div>
        </div>

        {#Code pour voir la video#}
        <div class="row d-flex justify-content-center mt-4 mb-4">
            {% if article.video %}
            <div class="col-12 col-md-6 embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center d-md-flex justify-content-center">
                <a class="" href="{{ path('admin-modifier-article', {id: article.id} ) }}"><img class="p-4" src="{{ asset('images/boutonModifier.png')}}"></a>
                <a class="" href="{{ path('admin-supprimer-article', {id: article.id} ) }}"><img class="p-4" src="{{ asset('images/boutonSupprimer.png')}}"></a>
            </div>
        {% endif %}

    </article>

       



    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="d-flex flex-column w-50">

            <h4 class="iceland">Laisser un commentaire</h4>

            <form id="message">
                <div class="form-group">
                    <input type="hidden" id="idArticle" name="idArticle" value="{{ article.id }}">
                    <textarea name="contenu" id="contenu" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ton message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="envoyer" class="btn btn-warning">Envoyer</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div>

        <h4 class="iceland">Les commentaires</h4>
        {%for commentaire in commentaires%}
            <p>Publié par :
            <a class="iceland" href="{{ path('profilUser', {id: commentaire.iduser.id} ) }}">{{ commentaire.iduser.username }}</a>
            le {{ commentaire.datepubli|date('d/m/Y') }} </p>

            <p>Commentaire: {{ commentaire.message }}</p>
            {#si c'est un admin va pouvoir supprimer les commentaires#}
            {% if is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{path('remove-commentaire')}}">
                    <button class="image_supprimer_input m-3" type="submit" id="supprimer" name="supprimer" value="{{ commentaire.id }}" class="btn btn-danger m-2"></button>
                </form>
            {% endif %}
            <hr>
        {%endfor%}
    </div>
    <div id="result3">
    </div>
{% endblock %}
{% block js %}

    <script>

        window.fbAsyncInit = function() {
            FB.init({
                appId            : '1785343968251218',
                autoLogAppEvents : true,
                xfbml            : true,
                version          : 'v3.1'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v3.1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        $(function () {
            {#
            $('#like').on('click', function(){
                {% if app.user %}
                var user= {{ app.user.id }};
                {%endif%}
                var article= {{article.id}};
                var url = "{{ path('likes') }}";
                var compte = {{compte}};
                $.ajax({
                    type: 'post',
                    url: url,
                    data: "user="+user+"&article="+article,
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        console.log({{compte}})
                        $('#compte').empty();
                        $('#compte').append(compte + 1);
                        if ($('#like').hasClass('notreJaune')) {
                            $('#like').removeClass('notreJaune');
                        }else{
                            $('#like').addClass('notreJaune');
                        }                       
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })
            #}

            $('#envoyer').on('click', function(e) {
                e.preventDefault();
                var url = "{{ path('laisser-commentaire') }}";
                $.ajax({
                    type: 'post',
                    url: url,
                    data: $('#message').serialize(),
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        $('#result3').html(data);
                        $('#contenu').val(" ");
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })
        })
    </script>
{% endblock %}