{% extends 'layout.html.twig' %}

{% block title %}Fiche article{% endblock %}

{% block titlepage %}{{ article.titre }}{% endblock %}

{% block content %}


    {# a chaque tour de boucle, opn recupere articles qui ici est un objet pour acceder au titre artcile.title #}

    <article class="container text-center">

        Publié par :
            <a href="{{ path('profilUser', {id: article.auteurid.id} ) }}">{{ article.auteurid.username }}</a>
        le
            {{ article.datepubli|date('d/m/Y') }}

        <br>




        <br>

        {% if article.image %}
            <img class="img-fluid" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
        {% endif %}
        <hr>


        <div class="text-justify">

            {{ article.content }}

        </div>

        <hr>

        {% if article.video %}
            <iframe width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endif %}


   
    </article>


    
    
{% endblock %}
