{% extends 'layout.html.twig' %}

{% block title %}Fiche article{% endblock %}

{% block titlepage %}{{ article.titre }}{% endblock %}

{% block content %}


    {# a chaque tour de boucle, opn recupere articles qui ici est un objet pour acceder au titre artcile.title #}

    <article class="container text-justify">


        Publié par :
        <a href="{{ path('profilUser', {id: article.auteurid.id} ) }}">{{ article.auteurid.username }}</a>

        le
        {{ article.datepubli|date('d/m/Y') }}

        <br>


        <div class="mt-3">

        </div>
        <br>

        {% if article.image %}
            <img class="img-fluid" src="{{ asset(image_directory ~ article.image) }}"  alt=""/>
        {% endif %}
        <hr>
        {{ article.content }}


        <hr>
        {% if article.video %}
            <iframe width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        {% endif %}
        <br>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center">
                <a class="m-5" href="{{ path('admin-modifier-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonModifier.png')}}"></a>
                <a class="m-3" href="{{ path('admin-supprimer-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonSupprimer.png')}}"></a>
            </div>
        {% endif %}

    </article>




{% endblock %}