{% extends 'layout.html.twig' %}

{% block title %}Fiche article{% endblock %}

{% block titlepage %}{{ article.titre }}{% endblock %}

{% block content %}


    {# a chaque tour de boucle, opn recupere articles qui ici est un objet pour acceder au titre artcile.title #}

    <article class="container text-justify">
        <div class="row d-flex mt-3 mb-2">
            <p>Publié par :
            <a class="iceland" href="{{ path('profilUser', {id: article.auteurid.id} ) }}">{{ article.auteurid.username }}</a>
             le {{ article.datepubli|date('d/m/Y') }}
        </p>

        </div>
        
        <div class="row">
            <div class="col-12 col-md-4">
                {% if article.image %}
                    <img class="img-fluid text-center" src="{{ asset(image_directory ~ article.image) }}" width="300"  alt=""/>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 text-justify">
                {{ article.content }}
            </div>
        </div>

        <hr>

        <div class="row d-flex justify-content-center">
            {% if article.video %}
                <iframe width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center">
                <a class="m-5" href="{{ path('admin-modifier-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonModifier.png')}}"></a>
                <a class="m-3" href="{{ path('admin-supprimer-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonSupprimer.png')}}"></a>
            </div>
        {% endif %}

    </article>




{% endblock %}