{% extends 'layout.html.twig' %}

{% block title %}Fiche article{% endblock %}

{% block titlepage %}{{ article.titre }}{% endblock %}

{% block content %}


    {# a chaque tour de boucle, opn recupere articles qui ici est un objet pour acceder au titre artcile.title #}

    <article class="container text-justify">
        <div class="row d-flex mt-3 mb-2">
            <p>Publié par :
            <a class="iceland" href="{{ path('profilUser', {id: article.auteurid.id} ) }}">{{ article.auteurid.username }}</a>
             le {{ article.datepubli|date('d/m/Y') }}
        </p>

        </div>
        
        <div class="row">
            <div class="col-12 col-md-4">
                {% if article.image %}
                    <img class="img-fluid text-center" src="{{ asset(image_directory ~ article.image) }}" width="300"  alt=""/>
                {% endif %}
            </div>
            <div class="col-12 col-md-7 text-justify">
                {{ article.content }}
            </div>
        </div>

        <hr>

        <div class="row d-flex justify-content-center">
            {% if article.video %}
                <iframe width="560" height="315" src="{{ asset(video_directory ~ article.video) }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            {% endif %}
        </div>

        {% if is_granted('ROLE_ADMIN') %}
            <div class="text-center">
                <a class="m-5" href="{{ path('admin-modifier-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonModifier.png')}}"></a>
                <a class="m-3" href="{{ path('admin-supprimer-article', {id: article.id} ) }}"><img class="" src="{{ asset('images/boutonSupprimer.png')}}"></a>
            </div>
        {% endif %}

    </article>



    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="d-flex flex-column w-50">

            <h4 class="iceland">Laisser un commentaire</h4>

            <form id="message">
                <div class="form-group">
                    <input type="hidden" id="idArticle" name="idArticle" value="{{ article.id }}">
                    <textarea name="contenu" id="contenu" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ton message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" id="envoyer" class="btn btn-warning">Envoyer</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div id="result3"></div>
{% endblock %}
{% block js %}
    <script>
        $(function () {

            $('#envoyer').on('click', function(e) {
                e.preventDefault();
                var url = "{{ path('laisser-commentaire') }}";
                $.ajax({
                    type: 'post',
                    url: url,
                    data: $('#message').serialize(),
                    timeout: 3000,
                    dataType: 'html',
                    success: function (data) {
                        $('#result3').html(data);
                    },
                    error: function (error) {
                        console.log(error.responseText);
                    }
                })
            })
        })
    </script>
{% endblock %}