<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="icon" href="{{ asset('images/logo4.png') }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


    <title>{% block title %}{% endblock %}</title>
</head>

<body class="container-fluid">

    <header class="container-fluid p-5">

        <nav class="d-flex align-items-end navbar navbar-expand-lg navbar-light bg-light">

            <a class="navbar-brand" href="{{ path('accueil') }}"></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">


                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="ml-5 nav-item active">
                            <a class="ml-5 nav-link"href="{{ path('accueil')}}"> Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('all-articles')}}"> Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Samples</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('inserer')}}">Insérer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('login') }}"> Connexion / Inscription </a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link"href="{{ path('contact')}}"> Contact </a>
                        </li>
                    {% endif %}

                    {# l'element du menu n'apparaitra que si l'utilisateur est connecté en user#}

                    {% if is_granted('ROLE_USER') %}
                        <li class="nav-item active">
                            <a class="nav-link"href="{{ path('accueil')}}"> Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('all-articles')}}"> Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Samples</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('inserer')}}">Insérer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil') }}">Profil </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}"> Deconnexion </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"href="{{ path('contact')}}"> Contact </a>
                        </li>
                    {% endif %}

                    {# l'element du menu n'apparaitra que si l'utilisateur est connecté en user#}

                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item active">
                            <a class="nav-link"href="{{ path('accueil')}}"> Accueil <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin-all-articles')}}"> Articles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Samples</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('inserer')}}">Insérer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('profil') }}">Profil </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin-add-article') }}"> Ajouter un article </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=""> Administrateur </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('logout') }}"> Deconnexion </a>
                        </li>
                    {% endif %}

                </ul>
            </div>

            <form class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Search</span>
                    </div>
                    <input type="text" class="form-control" placeholder="Track or Artist" aria-label="Username" aria-describedby="basic-addon1">
                </div>
            </form>

        </nav>

    </header>


    <h1 class="text-center">{% block titlepage %}{% endblock %}</h1>
    <div class="font container justify-content-center">

        {% block content %}{% endblock %}

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <footer class="container-fluid">

        <div class="mt-5 d-flex justify-content-between">

            <a class="text-danger" href="{{ path('cgu')}}">Conditions d'utilisation</a>
            <div class="">
                <i class="mr-2 text-danger fab fa-twitter-square fa-lg"></i>
                <i class="mr-2 text-danger fab fa-facebook-square fa-lg"></i>
                <i class="mr-2 text-danger fab fa-instagram fa-lg"></i>
            </div>

        </div>

    </footer>

    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% block js %}{% endblock %}



</body>
</html>

