{% extends 'layout.html.twig' %}

{% block titlepage %}Inserer{% endblock %}

{% block content %}

{% if msg %}<div class="alert alert-success">{{msg}}</div>{%endif%}

<form method="POST" action="/inserer" enctype="multipart/form-data">
		<h4 class="text-center iceland">l'original</h4>
	<div class="row justify-content-center ">
		<div class="col-12 col-md-3 border-right">
			<div class="form-group">
				<label for="artisteSample">Artiste :</label>
				<input type="text" name="artisteSample" id="artisteSample" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="genreSample">Genre :</label>
				<select id="genreSample" name="genreSample" required>
					<option value="Hip-Hop">Hip-Hop</option>
					<option value="Electro">Electro</option>
					<option value="Rock">Rock</option>
					<option value="Disco">Disco</option>
					<option value="Générique">Générique</option>
					<option value="Soul">Soul</option>
					<option value="Pop">Pop</option>
					<option value="Funk">Funk</option>
				</select>
			</div>
		</div>
		<div class="col-12 col-md-3 border-right text-left">
			<div class="form-group">
				<label for="albumSample">Album :</label>
				<input type="text" name="albumSample" id="albumSample" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="dateSample">Année de sortie:</label>
				<select id="dateSample" name="dateSample" required>
				{% for i in 1900..2020 %}
    				<option value="{{i}}">{{ i }}</option>
				{% endfor %}
				</select>
			</div>
			<div class="form-group text-center">
				<input type="file" id="pochetteSample" name="pochetteSample" class="form-control" hidden required>
				<label for="pochetteSample" class="btn btn-warning">Choisir une pochette</label>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<label>Titre :</label>
			<input type="text" name="titreSample" id="titreSample" class="form-control" required>
			<label>Lien Youtube:</label>
			<input type="url" name="lienSample" class="form-control" placeholder="Url Youtube" required>
		</div>
	</div>
	<hr>

	<h4 class="text-center iceland">le sampleur</h4>
	<div class="row justify-content-center">
		<div class="col-12 col-md-3 border-right">
			<div class="form-group">
				<label for="artisteSampleur">Artiste :</label>
				<input type="text" name="artisteSampleur" id="artisteSampleur" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="genreSampleur">Genre :</label>
				<select id="genreSampleur" name="genreSampleur" required>
					<option value="Hip-Hop">Hip-Hop</option>
					<option value="Electro">Electro</option>
					<option value="Rock">Rock</option>
					<option value="Disco">Disco</option>
					<option value="Générique">Générique</option>
					<option value="Soul">Soul</option>
					<option value="Pop">Pop</option>
					<option value="Funk">Funk</option>
				</select>
			</div>
		</div>
		<div class="col-12 col-md-3 border-right text-left">
			<div class="form-group">
				<label for="albumSampleur">Album :</label>
				<input type="text" name="albumSampleur" id="albumSampleur" class="form-control" required>
			</div>
			<div class="form-group">
				<label for="dateSampleur">Année de sortie:</label>
				<select id="dateSampleur" name="dateSampleur" required>
				{% for i in 1900..2020 %}
    				<option value="{{i}}">{{ i }}</option>
				{% endfor %}
				</select>
			</div>
			<div class="form-group text-center">
				<label for="pochetteSampleur" class="btn btn-warning">Choisir une pochette</label>
				<input type="file" id="pochetteSampleur" name="pochetteSampleur" class="form-control" hidden required>
			</div>
		</div>
		<div class="col-12 col-md-3">
			<label>Titre :</label>
			<input type="text" name="titreSampleur" id="titreSampleur" class="form-control" required>
			<label>Lien :</label>
			<input type="url" name="lienSampleur" class="form-control" placeholder="Url Youtube" required>
		</div>
	</div>
	<hr>
	<div class="row justify-content-center">
		<button type="submit" class="btn btn-warning">Envoyer</button>
	</div>

</form>
{% endblock %}

{% block js %}
<script>

	var availableArtistes = [
	    {%for artiste in AjaxArtiste%}
	    "{{artiste.nom}}",
	    {%endfor%}
    ];

     availableAlbums = [
	    {%for album in AjaxAlbum%}
	    "{{album.nom}}",
	    {%endfor%}
    ];

    var availableTracks = [
	    {%for track in AjaxTrack%}
	    "{{track.titre}}",
	    {%endfor%}
    ];

	$('#artisteSample').on('keydown', function(){
	    $( "#artisteSample" ).autocomplete({
	      source: availableArtistes
	    });
  	});

  	$('#artisteSampleur').on('keydown', function(){
	    $( "#artisteSampleur" ).autocomplete({
	      source: availableArtistes
	    });
  	});

  	$('#albumSample').on('keydown', function(){
	    $( "#albumSample" ).autocomplete({
	      source: availableAlbums
	    });
  	});

  	$('#albumSampleur').on('keydown', function(){
	    $( "#albumSampleur" ).autocomplete({
	      source: availableAlbums
	    });
  	});

  	$('#titreSample').on('keydown', function(){
	    $( "#titreSample" ).autocomplete({
	      source: availableTracks
	    });
  	});

  	$('#titreSampleur').on('keydown', function(){
	    $( "#titreSampleur" ).autocomplete({
	      source: availableTracks
	    });
  	});


</script>
{% endblock %}