{% extends 'layout.html.twig' %}

{% block title %}{{artiste.nom}}{% endblock %}

{% block titlepage %}{{artiste.nom}}{% endblock %}

{% block content %}
    <h4 class="text-center">{{artiste.genre}}</h4>

    <hr>
    <div class="m-4">
        <h4 class="text-center p-2">Albums associés :</h4>
    {%for album in artiste.albums%}
    <div class="row border rounded bg-white">
            <div class="col-6 p-3">
                <div class="row ml-3">
                <h5>{{album.nom}}</h5>
                </div>
                <div class="row ml-3">
                <img src="{{ asset(image_directory ~ album.pochette)}}" width="220" height="220" alt="pochette d'album {{album.nom}} de {{artiste.nom}}">
                </div>
            </div>
            <div class="col-6 p-3">
                <h5>Titres :</h5>
                <ul>
                {%for track in album.tracks%}

                    {%for relation in track.relations%}
                        {{ relation.sampleur.titre }}
                        <i class="fas fa-sync fa-1x"></i>
                         {{ relation.original.titre }}
                    {%endfor%}

                    {%for relation in track.relations2%}
                        {{ relation.original.titre }}
                        <i class="fas fa-sync fa-1x"></i>
                        {{ relation.sampleur.titre }}
                    {%endfor%}



                {%endfor%}
                
                </ul>
            </div>
        </div>
    {%endfor%}
    </div>

{% endblock %}