{% extends 'layout.html.twig' %}

{% block title %}{{artiste.nom}}{% endblock %}

{% block titlepage %}{{artiste.nom}}{% endblock %}

{% block content %}
    <h4 class="text-center">{{artiste.genre}}</h4>

    <hr>
    <div class="m-4">
        <h4 class="text-center p-2">Albums associés :</h4>
    {%for album in artiste.albums%}
    <div class="row border rounded bg-white">
            <div class="col-6 p-3">
                <div class="row ml-3">
                <h5>{{album.nom}}</h5>
                </div>
                <div class="row ml-3">
                <img src="{{ asset(image_directory ~ album.pochette)}}" width="220" height="220" alt="pochette d'album {{album.nom}} de {{artiste.nom}}">
                </div>
            </div>
            <div class="col-6 p-3">
                <h5>Titres :</h5>
                {%for track in album.tracks%}
                    {{track.titre}}
                {%endfor%}
            </div>
        </div>
    {%endfor%}
    </div>
    <hr>
    <div class="m-4">
        <h4 class="text-center p-2">Relations :</h4>
    {%for album in artiste.albums%}
                {%for track in album.tracks%}
                    {%for relation in track.relations%}
                    <div class="row bg-white rounded border text-center">
                        <div class="col-6"><a href="{{ path('fiche-artiste',{'id':artiste.id})}}">{{relation.sampleur.titre}}</a></div>
                        <div class="col-6"><a href="{{ path('fiche-artiste',{'id':relation.original.idalbum.idartiste.id})}}">{{relation.original.titre}}</a></div>
                        <div class="col-12 text-center">Contributeur : {%if relation.user%}{{relation.user.username}}{%endif%}</div>
                    </div>
                    {%endfor%}
                {%endfor%}
            </div>
        </div>
    {%endfor%}
    </div>


{% endblock %}