{% extends 'layout.html.twig' %}

{% block title %}Supprimer artiste{% endblock %}
{% block titlepage %}Selectionne l'artiste à supprimer{% endblock %}



{% block content %}

    <div class="m-4 w-65">
        <ul class="list-group d-flex justify-content-center">
            {%for artiste in artistes%}
                <a href="#" class="no-follow" data-toggle="modal" data-target="#artist-{{ artiste.id }}" alt="{{ artiste.nom }}"> <li class="list-group-item">{{ artiste.nom }}</li></a>
                <div class="modal fade" id="artist-{{ artiste.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Suppresion Artiste</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Vous voulez vraiment supprimer cet artiste?????
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                <form action="{{ path('artiste-delete', {id: artiste.id }) }}">
                                    <button type="submit" class="btn btn-primary">Oui</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {%endfor%}
        </ul>
    </div>

{% endblock %}

{% block js %}
<script>
    $('.no-follow').on('click', function (e) {
        e.preventDefault();
    })


</script>
{% endblock %}