{% extends 'layout.html.twig' %}

{% block title %}Modifier Artistes{% endblock %}

{% block content %}

    {# pour afficher tous type de messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h4 class="text-center">Modification Artiste</h4>
    <div class="d-flex justify-content-center">

            <div class="w-50">
                {{ form_start(form) }} {# permet de créer la balise <form>  #}
                {{ form_widget(form) }}  {# permet de créer les champs #}
                {{ form_end(form) }} {# va fermer la balise #}
            </div>
    </div>
{% endblock %}