{% extends 'layout.html.twig' %}

{% block title %}Profil de {{ user.username }}{% endblock %}

{% block titlepage %}Ton Profil{% endblock %}

{% block content %}

    {# pour afficher tous type de messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
<div class="container">
    <div class="row justify-content-center mt-4">
        <div class="col-md-6 col-12">
            <div class="d-flex d-flex flex-column justify-content-center align-items-center">
                {% if user.avatar %}

                    <img class="card-img-top img-fluid rounded-circle mb-4" style="width: 220px; height: 220px;" src="{{asset(image_directory)}}{{user.avatar}}" alt="" />

                {% endif %}
                <br>
                <br>

                        {% if user.score <= 10 %}
                            <img class="" style="width: 120px; height: 120px;" src="{{ asset('images/score_debutant.png')  }}" alt="score" />
                            <br>
                            <h6>Niveau Debutant</h6>
                        {% endif %}
                        {% if user.score > 10 and user.score <=20 %}
                            <img class="img-fluid" style="width: 120px; height: 120px;" src="{{ asset('images/sore_bronze.png')  }}" alt="score" />
                            <br>
                            <h6>Niveau Bronze</h6>
                        {% endif %}
                        {% if user.score > 20 and user.score <=30 %}
                            <img class="img-fluid"  style="width: 120px; height: 120px;" src="{{ asset('images/score_silver.png')  }}" alt="score" />
                            <br>
                            <h6>Niveau Silver</h6>
                        {% endif %}
                        {% if user.score > 30  %}
                            <img class="img-fluid"  style="width: 120px; height: 120px;" src="{{ asset('images/score_gold.png')  }}" alt="score" />
                            <br>
                            <h6>Niveau Gold</h6>
                        {% endif %}
                        <p class="card-title"><strong>Score: </strong>{{ user.score }}</p>

            </div>
        </div>
        <div class="col-md-6 col-12">
            <h6><strong>Pseudo:</strong> {{ user.username }}</h6>
            <h6><strong>Nom:</strong> {{ user.nom }}</h6>
            <h6><strong>Prenom:</strong> {{ user.prenom }}</h6>
            <h6><strong>Email:</strong> {{ user.email }}</h6>
            <h6><strong>Date d'inscription:</strong> {{ user.dateinscription  |date('d/m/Y') }}</h6>
            <h6><strong>Ta Biographie</strong> {{ user.bio }}</h6>
            <h5><strong>Tes Liens: </strong></h5>
            <h6><strong>Soundcloud: </strong> {{ user.soundcloud }}</h6>
            <h6><strong>Bandcamp: </strong> {{ user.bandcamp }}</h6>
            <h6><strong>Facebook: </strong> {{ user.facebook }}</h6>
            <h6><strong>Site Web: </strong> {{ user.siteweb }}</h6>

            <br>
            <br>
            <div>

                {% if is_granted('ROLE_USER') %}
                <div class="d-sd-flex justify-content-center mb-3">
                    <a class="" href="{{ path('update_profil', {id: user.id} ) }}"><img class="m-2" src="{{ asset('images/boutonModifier.png')}}"></a>
                    <a class="" href="#" data-toggle="modal" data-target="#user-{{ user.id }}"><img class="m-2" src="{{ asset('images/boutonSupprimer.png')}}"></a>
                    <div class="modal fade" id="user-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Suppresion Utilisateur</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Vous voulez vraiment supprimer?????
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <form action="{{ path('supprimer-profil', {id: user.id }) }}">
                                        <button type="submit" class="btn btn-primary">Oui</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if is_granted('ROLE_ADMIN') %}
                <div class="d-sd-flex justify-content-center mb-3">
                    <a class="" href="{{ path('admin-update-profil', {id: user.id} ) }}"><img class="m-2" src="{{ asset('images/boutonModifier.png')}}"></a>
                    <a class="" href="#" data-toggle="modal" data-target="#user-{{ user.id }}"><img class="m-2" src="{{ asset('images/boutonSupprimer.png')}}"></a>
                    <div class="modal fade" id="user-{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Suppresion Utilisateur</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Vous voulez vraiment supprimer?????
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
                                    <form action="{{ path('admin-supprimer-profil', {id: user.id }) }}">
                                        <button type="submit" class="btn btn-primary">Oui</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}


            </div>


        </div>
    </div>
    <h4 class="iceland">Contributions</h4>

    <!--Affiche les samples qui la personne a publié -->
    <div>



            <article class="d-flex justify-content-center flex-wrap text-center" >
                {% for sample in samples %}
                <div class="col-12 col-md-2 p-3 p-3 bg-light m-1 border border-secondary" style="width: 183px">

                    <div class="m-1">

                        {% if sample.sampleur.titre|length >= 15 %}
                            <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                <p class="font-weight-bold text-dark">{{ sample.sampleur.titre | striptags | slice(0, 15) }}...</p>
                            </a>
                        {% elseif sample.sampleur.titre|length < 15 %}
                            <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                <p class="font-weight-bold text-dark">{{ sample.sampleur.titre }}</p>
                            </a>
                        {% endif %}

                        {% if sample.sampleur.idalbum.pochette %}
                            <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                                <img width="90" height="90" src="{{ asset(image_directory ~ sample.sampleur.idalbum.pochette) }}"  alt=""/>
                            </a>
                        {% endif %}

                    </div>

                <div class="m-1">

                    {% if sample.original.titre|length >= 15 %}
                        <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                            <p class="font-weight-bold text-dark ">{{ sample.original.titre | striptags | slice(0, 15) }}...</p>
                        </a>
                    {% elseif sample.original.titre|length < 15 %}
                        <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                            <p class="font-weight-bold text-dark">{{ sample.original.titre }}</p>
                        </a>
                    {% endif %}

                    {% if sample.original.idalbum.pochette %}
                        <a href="{{ path('detail-sample', {id: sample.id} ) }}">
                            <img  width="90" height="90" src="{{ asset(image_directory ~ sample.original.idalbum.pochette) }}"  alt=""/>
                        </a>
                    {% endif %}

                </div>

                </div>
                {% endfor %}
        </article>



    </div>

</div>


{% endblock %}