{% extends 'layout.html.twig' %}

{% block title %}Formulaire d'inscription{% endblock %}

{% block titlepage %}S'enregistrer{% endblock %}

{% block content %}

    {# pour afficher tous type de messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="d-flex justify-content-center">
        <div class="w-50">
                {{ form_start(form) }} {# permet de créer la balise <form>  #}
                {{  form_row(form.username) }}
                {{  form_row(form.prenom) }}
                {{  form_row(form.nom) }}
                {{  form_row(form.email) }}

                {{  form_row(form.plainPassword) }}
            <div><p><small>* Champs obligatoires </small></p></div>

            <div><p><small>Le mot de passe doit comporter au moins 6 caractères dont au moins une majuscules, une minuscule et un chiffre </small></p></div>

                {{ form_end(form) }} {# va fermer la balise #}
        </div>
    </div>
{% endblock %}